@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

body {
  background-color: whitesmoke;
  font-family: "Poppins", sans-serif;
  background-color: #bbbbbb;
  margin-top: 100px;
}

.content-container {
  margin-top: 50px;
  height: 650px;
  background-color: white;
  border-bottom-right-radius: 160px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.d-flex {
  display: flex;
  justify-content: flex-start;
}

.d-flex-between {
  display: flex;
  justify-content: space-between;
}

.spaced-outputs {
  width: 117%;
}

.align-column {
  display: flex;
  flex-direction: column;
}

.input-container {
  width: 7rem;
  padding-left: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pad-left {
  padding-left: 3rem;
  padding-bottom: 0.5rem;
}

.label {
  color: hsl(0, 1%, 44%);
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 2.1px;
}

.input-field {
  padding: 0.7rem;
  font-size: 32px;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 86%);
  background-color: white;
}
.input-field:focus {
  outline: none;
}

.form {
  width: 55%;
  margin-bottom: 1rem;
}

.content-center {
  margin: auto;
  width: 45%;
  padding: 10px;
}

.submit-btn-class {
  padding: 0.6rem 5rem;
  position: absolute;
  right: 656px;
  top: 700px;
  border-radius: 5px;
  border: 1px solid hsl(259, 100%, 65%);
  background-color: hsl(259, 100%, 65%);
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 1px;
}

.input-display {
  font-size: 100px;
  color: hsl(259, 100%, 65%);
  width: auto;
  margin: 0;
  font-weight: 800;
  font-style: italic;
}

.output-text {
  font-size: 100px;
  font-weight: 800;
  font-style: italic;
  margin-left: 1rem;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: auto;
}

.svg-art {
  display: flex;
  justify-content: end;
  margin-right: 177px;
}

.svg {
  border-radius: 100%;
  background-color: hsl(259, 100%, 65%);
  padding: 1rem;
  position: absolute;
  top: 222px;
  right: 510px;
}

.svg::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50px;
}

.output-display {
  border-top: 1px solid hsl(0, 0%, 86%);
  width: 69%;
  margin-left: 3rem;
}

.invalid-err {
  position: absolute;
  left: 604px;
  top: 116px;
  color: red;
  font-size: 10px;
}

.day {
  font-size: 10px;
  color: lightcoral;
  padding-left: 3.1rem;
}

.month {
  font-size: 10px;
  color: lightcoral;
  padding-left: 1.1rem;
}

.year {
  font-size: 10px;
  color: lightcoral;
  padding-left: 1.1rem;
}

#input-month-wrapper,
#input-year-wrapper {
  padding-bottom: 0.5rem;
}
